<head>
  <meta charset="UTF-8">
  <title>PartHub</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="header">
      <h1>Part<span>Hub</span></h1>
    </header>
    <nav>
    <a href="/">Home</a>
    <a href="/">Login</a>
    <a href="/">Logout</a>
  </nav>
    <aside>
      <h2>You must login to see cool parts!</h2>
    </aside>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>