<section class="cpu">
    <h1 class="badge bg-dark ">CPU List</h1>

    <table class="table table-lg table-dark table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Benchmark Score</th>
                <th scope="col">Rank</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Intel</td>
                <td>Core i9-11900K</td>
                <td>109</td>
                <td>1</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Intel</td>
                <td>Core i7-11700K</td>
                <td>108</td>
                <td>2</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Intel</td>
                <td>Core i9-11900</td>
                <td>106</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</section>


<section class="cpu-pop bg-dark p-4">
    <h2  class=" cpu-pop-title badge bg-warning text-dark p-3">CPU Popularity</h2>

<h6>Ryzen 9 5900X PBO</h6>
<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>

<h6>Ryzen 9 5900X PBO</h6>
<div class="progress">
    <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>

<h6>Ryzen 9 5900X PBO</h6>
<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>

<h6>Ryzen 9 5900X PBO</h6>
<div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>

<h6>Ryzen 9 5900X PBO</h6>
<div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100"></div>
</div>

</section>