<div class="cards">
    <div class="card p-2 m-2" style="width: 18rem;"><a href="/cpu">
            <img src="/images/nav-cpu.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CPU</h5>
                <p class="card-text">A central processing unit (CPU), also called a central processor, main processor or
                    just processor</p>
            </div>

        </a>
    </div>

    <div class="card p-2 m-2" style="width: 18rem;"><a href="/gpu">
            <img src="/images/nav-videocard.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GPU</h5>
                <p class="card-text">A graphics processing unit (GPU) is a specialized electronic circuit designed to
                    rapidly manipulate and alter memory to accelerate the creation of images in a frame buffer intended
                    for output to a display device.</p>
            </div>
        </a>
    </div>

    <div class="card p-2 -m-2" style="width: 18rem;"><a href="/hdd">
            <img src="/images/hard-disk-drives-500x500.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HDD</h5>
                <p class="card-text">A hard disk drive (HDD), hard disk, hard drive is an
                    electro-mechanical data storage device that stores and retrieves digital data using magnetic storage
                    and one or more rigid rapidly rotating platters coated with magnetic material.</p>
            </div>
        </a>
    </div>

    <div class="card p-2 m-2" style="width: 18rem;"><a href="/ssd">
            <img src="/images/nav-ssd.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">SSD</h5>
                <p class="card-text">A solid-state drive (SSD) is a new generation of storage device used in computers.
                    SSDs replace traditional mechanical hard disks by using flash-based memory, which is significantly
                    faster.</p>
            </div>
        </a>
    </div>



    <div class="card p-2 m-2" style="width: 18rem;"><a href="/ram">
            <img src="/images/nav-memory.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">RAM</h5>
                <p class="card-text">RAM stands for Random Access Memory. The data stored in RAM can be accessed almost
                    instantly regardless of where in memory it is stored, so it's very fast — milliseconds fast.</p>
            </div>
        </a>
    </div>

</div>