<section class="login">
    
    <div class="bg-secondary p-3">
        <h1>Login</h1>
        <form>
        <div class="input-group mb-3">
            
            <span class="input-group-text " id="basic-addon1">Username</span>
            <input type="text" class="form-control" id="username-login" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Password</span>
            <input type="password" id="password-login" class="form-control">
        </div>

        <button type="submit" class="btn btn-warning">Sign in</button>
       
    </div>
    </form>
</section>
<script src="./js/login.js"></script>