<form action="/api/users/" method="POST" class="row g-3 bg-secondary p-5 br-5">
    <div class="form-title">
        <h1>Registration Form</h1>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="example@gmail.com">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label"> Confirm Password</label>
        <input type="password" name="confirm-password" class="form-control" id="inputPassword5">
    </div>
    <div>
        <button type="submit" class="btn btn-warning">Register</button>
    </div>
</form>