<form action="/api/users/" method="POST" class="row g-3 bg-secondary p-5 br-5 signup-form">
    <div class="form-title">
        <h1>Registration Form</h1>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label email-signup">Email</label>
        <input type="email" name="email" class="form-control" id="email-signup" placeholder="example@gmail.com">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label password-signup">Password</label>
        <input type="password" name="password" class="form-control" id="password-signup">
    </div>
    <div class="col-md-6">
        <label for="inputUsername" class="form-label username-signup">Username</label>
        <input type="text" name="username" class="form-control" id="username-signup">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label confirm-pass"> Confirm Password</label>
        <input type="password" name="confirm-password" class="form-control" id="inputPassword5">
    </div>
    <div>
        <button type="submit" class="btn btn-warning">Register</button>
    </div>
</form>