<form class="row g-3 bg-secondary p-5 br-5">
    <div class="form-title">
        <h1>Registration Form</h1>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="example@gmail.com">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label"> Confirm Password</label>
        <input type="password" class="form-control" id="inputPassword5">
    </div>
    <div>
        <button type="button" class="btn btn-warning">Register</button>
    </div>
</form>



<div class="cards">

    <div class="card p-2" style="width: 18rem;">
        <img src ="/images/nav-videocard.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">GPU</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <div>
            <button type="button" class="btn btn-warning">GPU</button>
        </div>
    </div>

    <div class="card p-2" style="width: 18rem;">
        <img src ="/images/hard-disk-drives-500x500.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">HDD</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <div>
            <button type="button" class="btn btn-warning">HDD</button>
        </div>
    </div>

    <div class="card p-2" style="width: 18rem;">
        <img src ="/images/nav-ssd.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">SSD</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <div>
            <button type="button" class="btn btn-warning">SSD</button>
        </div>
    </div>

    <div class="card p-2" style="width: 18rem;">
        <img src ="/images/nav-cpu.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">CPU</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <div>
            <button type="button" class="btn btn-warning">CPU</button>
        </div>
    </div>

    <div class="card p-2" style="width: 18rem;">
        <img src ="/images/nav-memory.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">RAM</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <div>
            <button type="button" class="btn btn-warning">RAM</button>
        </div>
    </div>

</div>