 <h2>You must login to see cool parts!</h2>
<div class=" bg-secondary p-3">
    <h1>Sign Up</h1>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Username</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Password</span>
        <input type="password" class="form-control">
    </div>

    <button type="button" class="btn btn-primary">Sign up</button>
</div>