@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

 * {
    color: #BBBBBB;
    font-weight: bold;
 }
 body {
     background-color: gray !important;
 }
 
 span {
    background-color: #f90; 
    color: black;
    border-radius: 0.3rem;
    padding: 2.5px;
}

header {
    padding: 5px;
}

h1 {
    color: white;
    padding: 5px;
    font-size: 55px !important;
}
