

* {
  color: #535353;
  font-weight: bold;

}
body {
  background-color: black;
}
header{
  background-color: #1b1b1b;
  padding-top:10px;
  margin-top: 20px;
}
span {
  background-color: #f90;
  color: black;
  border-radius: 0.3rem;
  padding: 2.5px;
}

h1 {
  color: white;
  padding: 5px;
  font-size: 55px !important;
}

.cards h5 {
  color: #f90;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;;
  flex: 1 0 300px;
}

.part-list {
  background-color: #f90;
  padding: 20px;
  border-radius: 0.4rem;
}

.part-pop {
  margin-top: 10%;
  border-radius: 0.4rem;
}

.part-pop-title {
  font-size: 20px ;
}

h6 {
  padding-top: 5px;
}

table {
  padding: 5px;
}

#partHub {
  padding-left: 5px ;
}

.login {
  margin: 10%;
  border-radius: 0.4rem;
}

.login h2 {
  text-shadow: 4px 4px 7px  #f90;
  color: white;
}
.navbar-light .navbar-nav .nav-link{
  color: #bbbbbb;
}
.navbar a:hover {
  background-color: #f90;
  border-radius: 5px;
}
.cards a {
  text-decoration: none;
}
td{
  color: #bbbbbb;
}
h6{
  color: #bbbbbb;
}
.orange
{
  background-color: #f90;
}

.build-list {
  background-color: #f90;
  padding: 20px;
  border-radius: 0.4rem;
}