@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  color: #bbbbbb;
  font-weight: bold;
}
body {
  background-color: gray !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10%;
  
}

span {
  background-color: #f90;
  color: black;
  border-radius: 0.3rem;
  padding: 2.5px;
}

header {
  padding: 5px;
}

h1 {
  color: white;
  padding: 5px;
  font-size: 55px !important;
}

.cards h5 {
  color: #f90;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;;
  flex: 1 0 300px;
}

.card-img-top {
    background-image: url('/public/images/ram.jpeg') !important;
}

.cpu {
  background-color: #f94 !important;
  padding: 20px;
  border-radius: 0.4rem;
}

.cpu-pop {
  margin-top: 10%;
  border-radius: 0.4rem;
}
.cpu-pop-title {
  font-size: 20px !important;
}
h6 {
  padding-top: 5px;
}
table {
  padding: 5px;
}