@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  color: #bbbbbb;
  font-weight: bold;
  box-sizing: border-box;
}
body {
  background-color: gray !important;
}

.hub {
  background-color: #f90;
  color: black;
  border-radius: 0.3rem;
  padding: 2.5px;
}

h1 {
  color: white;
  padding: 5px;
  font-size: 55px !important;
}

.cards h5 {
  color: #f90;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;;
  flex: 1 0 300px;
}

.part-list {
  background-color: #f94 !important;
  padding: 20px;
  border-radius: 0.4rem;
}

.part-pop {
  margin-top: 10%;
  border-radius: 0.4rem;
}

.part-pop-title {
  font-size: 20px !important;
}

h6 {
  padding-top: 5px;
}

table {
  padding: 5px;
}

#partHub {
  padding-left: 5px !important;
}

.login {
  margin: 10%;
  border-radius: 0.4rem;
}

.login h2 {
  text-shadow: 4px 4px 7px  #f90 !important;
  color: white;
}

.navbar a:hover {
  background-color: #f90;
  border-radius: 0.4rem;
}

.partNum {
  color: #f90 !important;
}